.menu{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
}.name{
    
   
  padding: 0 20px;
  display: flex;
  justify-content: center;
  word-break:inherit;
}

.wrap{
  display: flex;
  align-items:center;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
  height:208px;
  /* width:100%;
  width:280px */

}