.section{

}
.menu{
  width:100%; 
   width:570px;
  height: calc(50vh);
  overflow-y: auto;
  padding: 0;
}

.wrap{

  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}