.constructor {
  width: 100%;
  max-width: 600px;
  margin-right: 0;
  
}

/* .constructor_header{
    /* width: 100%; */
    /* max-width:600px */


.button {
  width: 100%;
  max-width: 200px;
  background-color: #131316;
  color: white;
  border: 0;
  height: 100%;
  height: 56px;
  border-bottom: 1px solid #1c1c21;
}

.title{
  width: 100%;
  max-width: 500px;
}

.cards {
  max-width: 600px;
  width: 100%;
  height: calc(100vh - 266px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.card__header{
    margin-top:100px
}

.image {
  width: 100%;
  max-width: 240px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
}
.activ {
  border-bottom: 3px solid #4c4cff;
}
