.main{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.title{
  width:100%;
  max-width: 1170px;
  margin-bottom: 0;
}

.menu{
  max-width: 600px;
  width: 100%;
  height: calc(100vh - 200px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.orders{
  width: 100%;
  max-width: 600px;
  margin-right: 0;
}
.feed{
display: flex;
flex-direction: column;
width: 580px;
list-style-type:none;

}
.feed__orders{
  display: flex;
  justify-content: space-between
}

.feed__container_orders{
  display: inline-grid;
  grid-template-rows: repeat(5, max-content);
  grid-auto-flow: column;
  gap: 10px;
}

.feed__number{
 color:#00CCCC
}

.feed__container{
  width: 272px;
}

.feed__done_number{
  text-shadow: 0px 0px 16px #4C4CFF;

}
.feed__title{
  list-style-type:none;
}


/* .feed__preparing{
   

}
.feed__preparing_number{
   

}
.feed__done{
   

}
.feed__container{
 
}
.feed__redy{} */
