.header {
  background-color: #1c1c21;
  width: 100%;
  position: relative;
  height: 88px;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.nav {
  width: 100%;
  max-width: 1980px;
}

.spisok {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  /* margin:30px auto 0 ; */
  /* margin-left: max(auto, 15%); */
}

.constructor {
  display: flex;
  align-items: center;
}

.text {
  padding: 0;
  margin: 0;
}
.ll {
  display: flex;
}
.li {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 210px;
}
.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* color: #F2F2F3 */
}
.activ {
  color: #f2f2f3;
}

.wrap {
  display: flex;
  width: 100%;
  max-width: 360px;
  justify-content: space-between;
}
.wr {
  position: absolute;
  top: 16px;
  margin: 0 auto;
}

/* .subtitle{
  color: #F2F2F3
} */
