
.burgerConstructor{
    width: 100%;
    max-width:640px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.constructor{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    width:100%;
    max-width:640px;
    max-height: 600px;
}

.wrap{
    width: 100%;
    max-width:640px;
    max-height: calc(100vh - 370px);
    overflow-y: auto; 
    display: flex;
     flex-direction: column;
      gap: 10px  ;
      /* margin:10px 0 10px 30px; */
      margin-left: -29px;
      list-style-type: none;
      padding-left: 0;  
}

.footer{
    display: flex;
    justify-content:flex-end ;
    margin-top: 100px;
}
.price{
    display:flex;
    align-items: center;
}


.topBulka{
    height: 100%;
    max-height: 80px;
    width:100%;
    max-width:550px;
    display: flex;
    align-content:center;
    justify-content:center;
    flex-wrap:wrap;
}
.topBulka__wrap{
    height:100%;
    max-height:60px;
    width:100%;
    max-width: 450px;
    display: flex;
    align-items:center;
    justify-content:center;
    border:#696969 dashed 1px;
    border-radius: 70px 70px 20px 20px;
}

.bottomBulka{
    height: 100%;
    max-height: 80px;
    width:100%;
    max-width:550px;
    display: flex;
    align-content:center;
    justify-content:center;
    flex-wrap:wrap;

}
.bottomBulka__wrap{
    height:100%;
    max-height:60px;
    width:100%;
    max-width: 450px;
    display: flex;
    align-items:center;
    justify-content:center;
    border:#696969 dashed 1px;
    border-radius: 20px 20px 70px 70px;
    margin-top: 0;

}

.filling{
    height:100%;
    max-height:90px;
    width:100%;
    max-width: 350px;
    display: flex;
    align-items:center;
    justify-content:center;
    border:#696969 dashed 1px;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto 0 130px;
    
}