
.burgerConstructor{
    width: 100%;
    max-width:640px;
    margin-top: 100px;
}
.wrap{
    height: calc(100vh - 370px);
    overflow-y: auto; 
    display: flex;
     flex-direction: column;
      gap: 10px  ;
      margin:10px 0
}

.footer{
    display: flex;
    justify-content:flex-end ;
    margin-top: 40px;
}
.price{
    display:flex;
    align-items: center;


}